h2{
    color: blue;
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
}
/*O MEDIA ESTÁ SETADO PARA TELAS  DE NO MÁXIMO 500PX, E INDICANDO SEU ESTILO*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@media(max-width:500px){
    h2{
        color: red;
        font-size: 50px;
    }
}