*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
ul{
    list-style: none;
}
.site-header{
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 20px;
}
.menu-list{
    display: flex;
    gap: 10px;
    align-items: center;

}
.menu-link{
    text-decoration: none;
    font: bold;
    color: #949494;
    font-size: 22px;
}
.site-logo{
    font-family: sans-serif;
}
#home{
    display: flex;
    justify-content: center;
    align-items: center;

}
.home-title{
    position: absolute;
    padding: 30px;
    background-color: chocolate;
    color: white;
    font-size: 32px;
}
.home-bg-image{
    width: 100%;
}
/* Não há nada na div logo a imagem não foi exibida, ao colocar as dimensões da imagem, minha div agora tem espaço para ser exibida */
.promotions-title{
    text-align: center;
    margin: 40px 0;
}


.promotions-images{
    display: flex;
    gap: 20px;
    justify-content: center;
}


#promotions .image-item{
    width: 405px;
    height: 251px;
    background-image: url(https://raw.githubusercontent.com/digitalcollegebr/projeto-digital-store/main/public/collection-1.png);
}